### Exploratory Data Analysis ~ EDA
EDA is an approach to analyse the given data sets by summerizing their main characteristics with visualisations.

Prerequisites:
1. Python Programming Language (Pandas and Numpy)
2. Mathematics

In [1]:
import pandas as pd
# pandas is a python library to deal with datasets (DataFrames and Series)

In [2]:
import numpy as np
# numpy stands for numeric python

In [3]:
import matplotlib.pyplot as plt

#matplotlib is a python library to plot a dataset in form of various graphs and visual informations.

In [4]:
df = pd.read_csv('chitest.csv', encoding = 'utf-8')

#here we read chitest.csv file using pandas library (csv files are comma seperated values) and made a dataframe called "df".

In [5]:
print(df)

#print statement prints the dataframe in a different manner as compared to the below visual shows.

   Gender Like Shopping?
0    Male             No
1  Female            Yes
2    Male            Yes
3  Female            Yes
4  Female            Yes
5    Male            Yes
6    Male             No
7  Female             No
8  Female             No

In [6]:
df

#dataframe

   Gender Like Shopping?
0    Male             No
1  Female            Yes
2    Male            Yes
3  Female            Yes
4  Female            Yes
5    Male            Yes
6    Male             No
7  Female             No
8  Female             No

In [7]:
contingency_table = pd.crosstab(df['Gender'], df['Like Shopping?'])
contingency_table

#crosstab is pandas functionality that accumulates the unique data in form of rows and columns and gives the corresponding values.

Like Shopping?  No  Yes
Gender
Female           2    3
Male             2    2

In [8]:
from scipy import stats

#SciPy is a scientific library in python and basically a extension to numpy to perform more complex calculations in less time.

observed_values = contingency_table.values

# dataFrame.values return numpy representation of the dataset

print('Observed Values : ',observed_values)

b = stats.chi2_contingency(contingency_table)

Expected_table = b[3]

Expected_table

Observed Values :  [[2 3]
 [2 2]]

array([[2.22222222, 2.77777778],
       [1.77777778, 2.22222222]])

More will b